.buttonPrimary{
    background-color: var(--primary);
    color: var(--background-color);
    border: 2px solid var(--primary);

    &:hover {
        background-color: color-mix(in srgb, var(--primary) 90%, black);
        transform: translateY(-1);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
}

.buttonSecondary{
    background-color: var(--secondary);
    color: var(--background-color);
    &:hover {
        background-color: color-mix(in srgb, var(--secondary) 90%, black);
    }
}

a {
    color: var(--text-primary);
    &:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
        color: color-mix(in srgb, var(--primary) 80%, black);
    }
}

.card {
    background-color: var(--surface-color);
    &:hover {
        background-color: color-mix(in srgb, var(--surface-color) 95%, var(--bg-color));
    }
}