:root{
    --gap-sm: 0.625rem;
    --gap-base: 1rem;
    --gap-md: 1.5rem;
    --gap-lg: 2.5rem;
    --gap-xl: 3rem;
    --gap-xxl: 4rem;

}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style-type: none;
}

